<h2><%= t(:omnikassa_payment) %></h2>

<% payment.omnikassa_payments.each do |omnikassa_payment| %>
    <fieldset>
        <legend>Omnikassa response #<%= omnikassa_payment.id %> (<%= omnikassa_payment.created_at %>)</legend>
            <ul>
                <li><strong><%= t(:amount) %>:</strong>  <%= omnikassa_payment.omnikassa_amount %> cent</li>
                <li><strong><%= t(:capture_day) %>:</strong>  <%= omnikassa_payment.omnikassa_capture_day %></li>
                <li><strong><%= t(:capture_mode) %>:</strong>  <%= omnikassa_payment.omnikassa_capture_mode %></li>
                <li><strong><%= t(:currency_code) %>:</strong>  <%= omnikassa_payment.omnikassa_currency_code %></li>
                <li><strong><%= t(:merchant_id) %>:</strong>  <%= omnikassa_payment.omnikassa_merchant_id %></li>
                <li><strong><%= t(:order_id) %>:</strong>  <%= omnikassa_payment.omnikassa_order_id %></li>
                <li><strong><%= t(:transaction_date_time) %>:</strong>  <%= omnikassa_payment.omnikassa_transaction_date_time %></li>
                <li><strong><%= t(:transaction_reference) %>:</strong>  <%= omnikassa_payment.omnikassa_transaction_reference %></li>
                <li><strong><%= t(:authorisation_id) %>:</strong>  <%= omnikassa_payment.omnikassa_authorisation_id %></li>
                <li><strong><%= t(:key_version) %>:</strong>  <%= omnikassa_payment.omnikassa_key_version %></li>
                <li><strong><%= t(:payment_mean_brand) %>:</strong>  <%= omnikassa_payment.omnikassa_payment_mean_brand %></li>
                <li><strong><%= t(:payment_mean_type) %>:</strong>  <%= omnikassa_payment.omnikassa_payment_mean_type %></li>
                <li><strong><%= t(:response_code) %>:</strong>  <%= omnikassa_payment.omnikassa_response_code %></li>
            </ul>
    </fieldset>

<% end %>