<div class="normalpage">
  <h1><%= t(:redirect_to_payment_provider)  %></h1>
  <%= form_tag('https://payment-webinit.simu.omnikassa.rabobank.nl/paymentServlet') do %>
    <%= hidden_field_tag 'Seal', @seal %>
    <%= hidden_field_tag 'Data', @data %>
    <%= hidden_field_tag 'InterfaceVersion', 'HP_1.0' %>
    <p><%= t(:redirect_takes_to_long) %></p>
    <%= button_tag  t(:continue_to_payment_provider), :class => 'btn button' %>
  <% end %>

  <script type="text/javascript">
    $('form').submit();
  </script>
</div>
